@charset "utf-8";

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* 초기에는 모든 섹션 숨김 */
    display: none;
}

section.active {
    /* 활성화된 섹션만 보임 */
    display: block;
}
