<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header-footer.css">
    <link rel="stylesheet" href="../../css/login.css">
    <title>login</title>
</head>

<body>
    <header>
        <div class="inner">
            <h1><span>유격연습</span></h1>
            <h3>유진-타자-격파-연습</h3>
            <div class="util">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">Setting</a></li>
                </ul>
            </div>
        </div>
    </header>


    <section id="login" class="active">
        <h2>PW 찾기</h2>
        <form id="loginForm">
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" placeholder="아이디를 입력하세요" required>
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" placeholder="이메일을 입력하세요" required>
            <button type="submit">인증코드 전송</button>
            <label for="code-verify">인증코드 확인</label>
            <input type="text" id="code-verify" name="code-verify" placeholder="이메일의 인증코드를 작성하세요" required>
            
            <button type="submit">PW 찾기</button>
        </form>
    </section>

    <footer>
        <div class="inner">
            <div class="upper">
                <h1>유격연습</h1>
                <ul>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Family</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="lower">
                <address>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique perferendis nihil porro nulla
                    magni placeat eaque excepturi dolore reiciendis aut, assumenda quas molestiae quibusdam iure est,
                    quis laborum rerum? Optio.
                </address>
                <p>
                    2025 유진-타자-격파-연습 &copy; copyright all right reserved.
                </p>
            </div>
        </div>
    </footer>

</body>

</html>