<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="inner">
            <h1><span>유격연습</span></h1>
            <h3>유진-타자-격파-연습</h3>
            <div class="util">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">Setting</a></li>
                </ul>
            </div>
        </div>
    </header>
    
</body>
</html>