<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../css/main.css" rel="stylesheet">
    </link>
    <title>Best Typist</title>
</head>

<body>
    <header>
        <div class="inner">
            <h1><span>유격연습</span></h1>
            <h3>유진-타자-격파-연습</h3>
            <div class="util">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">Setting</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section>
        
    </section>



    <footer>
        <div class="inner">
            <div class="upper">
                <h1>유격연습</h1>
                <ul>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Family</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="lower">
                <address>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique perferendis nihil porro nulla
                    magni placeat eaque excepturi dolore reiciendis aut, assumenda quas molestiae quibusdam iure est,
                    quis laborum rerum? Optio.
                </address>
                <p>
                    2025 유진-타자-격파-연습 &copy; copyright all right reserved.
                </p>
            </div>
        </div>
    </footer>
</body>

</html>