<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/typing.css">
    <link href="../css/header-footer.css" rel="stylesheet">
    </link>
    <title>Best Typist</title>
</head>

<body>
    <header>
        <div class="inner">
            <h1><span>유격연습</span></h1>
            <div class="util">
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">Setting</a></li>
                </ul>
            </div>
        </div>
    </header>

    <section class="center">
        <div class="left_banner"> 왼쪽 배너
            <div id="controls">
                연습종류
                뒤로가기
                그만하기
            </div>
            <div id="user-info">
                <img src="" alt="캐릭터 얼굴">
                <ul>
                    <li>닉네임</li>
                    <li>평균타수</li>
                    <li>최고기록</li>
                </ul>
            </div>
            <div id="typing-rate">
                현재 속도
                현재 오타율
            </div>
        </div>
        <main class="inner_center"> 전체 연습하는 구간
            <div>
                진행률 보기
            </div>
            <div>
                타자 쳐야하는 내용 보기
            </div>
            <canvas>
                타자 치는 키보드와 손가락 실시간 확인
            </canvas>
        </main>
    </section>

    <footer>
        <p>
            2025 유진-타자-격파-연습 &copy; copyright all right reserved.
        </p>
    </footer>
</body>

</html>